<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/all.css">
    <title>NISB Connect</title>
  </head>
  <body>


      {% include 'nav.html' %}
<div class="container" style="margin-top:100px; margin-bottom:200px;">

  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <h3 class="text-center" style="">Register</h3><br><br>
    </div>
    <div class="col-md-6">
      <form action="/settings" method="POST">
          <input value="{{ member[1] }}" type="text" name="username" class="form-control" placeholder="Username"><br>
          <input value="{{ member[3] }}" type="email" name="email" class="form-control" placeholder="Email"><br>
          <input value="{{ member[5] }}" type="date" name="dob" class="form-control" placeholder="Date of Birth"><br>
          <input value="{{ member[6] }}" type="number" name="ieee_no" class="form-control" placeholder="IEEE No"><br>
          <input value="{{ member[7] }}" type="text" name="branch" class="form-control" placeholder="Branch"><br>
          <input value="{{ member[8] }}" type="number" name="sem" class="form-control" placeholder="Semester"><br>
          <textarea name="bio" rows="8" cols="80" class="form-control" placeholder="Bio">{{ member[4] }}</textarea><br>
          <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 5%">Update</button>
      </form>
    </div>
  </div>

</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
